/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.blackjack-window {
    background-color: #336600;
    position: relative;
    .button-location {
      top: 90%;
      height: 10%;
      position: absolute;
    }
    .count-box {
      position: absolute;
      height: 50px;
      background-color: #fff;
      border:1px solid #000;
      width: 50px;
      margin: 15px;
      right: 0;
      h3 {
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        margin:0;
        top: 10px;
      }
    }
    .settings-modal {
      button {
        margin-left: 10px;
        margin-top: 10px;
      }
    }
    .bottom-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding: 0 10px;
      margin: 10px 0;
      .bet-box {
        right: 22%;
        left: 10px;
        height: 35px;
        position: absolute;
        span {
          float: left;
          width: 20%;
          height: 100%;
        }
        .start-box {
          button {
            width: 100%;
            height: 100%;
          }
        }
        .cash-handling-box {
          button {
            width: 50%;
            height: 100%;
            float: left;
          }
        }
        .chips-box {
          button {
            width: 25%;
            float: left;
            height: 100%;
          }
        }
        .bet-display-box {
          background-color: #fff;
          text-align: center;
          border: 1px solid #000;
        }
        .bank-box {
          background-color: #fff;
          text-align: center;
          border: 1px solid #000;
        }
      }
      .play-box {
        right: 22%;
        left: 10px;
        height: 35px;
        top: 35px;
        position: absolute;
        button {
          width: 20%;
          float: left;
          height: 100%;
        }
      }
      .message-box {
        text-align: center;
        width: 20%;
        right: 10px;
        height: 70px;
        background-color: #fff;
        border: 1px solid #000;
        position: absolute;
        overflow-y: scroll; 
      }
      button[disabled=disabled], button:disabled {
        opacity:0.7;
      }
    }
    table {
      width: 100%;
      height: 37.5%;
      tbody {
        tr.all-hands {
          td.eachHand {
            width: auto;
            text-align: center;
            .blackjack-box {
              width: 200px;
              height: 96px;
              margin-right: auto;
              margin-left: auto;
              position: relative;
              h1.glyphicon-triangle-bottom {
                position: absolute;
                font-size: 60px;
                color: #ffd700;
                text-align: center;
                top: -80px;
                left: 25%;
                right: 25%;
              }
              .hand-collection {
                position: relative;
                height: 100%;
                margin-right: auto;
                margin-left: auto;
                width: 91px;
                span {
                  position: absolute;
                }
                span:nth-child(1) {
                  left: 0px;
                }
                span:nth-child(2) {
                  left: 20px;
                }
                span:nth-child(3) {
                  left: 40px;
                }
                span:nth-child(4) {
                  left: 60px;
                }
                span:nth-child(5) {
                  left: 80px;
                }
                span:nth-child(6) {
                  left: 100px;
                }
                span:nth-child(7) {
                  left: 120px;
                }
                span:nth-child(8) {
                  left: 140px;
                }
              }
              h3 {
                background-color: #fff;
                text-align: center;
                margin-top: 0;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
              }
              div.handBet {
                font-size: 20px;
                border-radius: 50%;
                margin-top: 15px;
                width: 40%;
                margin-left: auto;
                margin-right: auto;
                padding: 15px 10px;
                background-color: #fff;
                text-align: center;
              }
              .bet-red {
                border: 10px dashed red;
              }
              .bet-blue {
                border: 10px dashed blue;
              }
              .bet-green {
                border: 10px dashed green;
              }
              .bet-black {
                border: 10px dashed black;
              }
            }
          }
        }
        .dealer-box {
          position: relative;
          text-align: center;
          width: 100%;
          .blackjack-box {
            width: 200px;
            height: 96px;
            margin-right: auto;
            margin-left: auto;
            .hand-collection {
              position: relative;
              height: 100%;
              margin-right: auto;
              margin-left: auto;
              width: 91px;
              span {
                position: absolute;
              }
              span:nth-child(1) {
                left: 0px;
              }
              span:nth-child(2) {
                left: 20px;
              }
              span:nth-child(3) {
                left: 40px;
              }
              span:nth-child(4) {
                left: 60px;
              }
              span:nth-child(5) {
                left: 80px;
              }
              span:nth-child(6) {
                left: 100px;
              }
              span:nth-child(7) {
                left: 120px;
              }
              span:nth-child(8) {
                left: 140px;
              }
            }
            h3 {
              background-color: #fff;
              text-align: center;
              top: -50px;
              width: 50%;
              margin-left: auto;
              margin-right: auto;
            }
            div.handBet {
              font-size: 20px;
              border-radius: 50%;
              margin-top: 15px;
              width: 40%;
              margin-left: auto;
              margin-right: auto;
              padding: 15px 10px;
              background-color: #fff;
              text-align: center;
            }
            .bet-red {
              border: 10px dashed red;
            }
            .bet-blue {
              border: 10px dashed blue;
            }
            .bet-green {
              border: 10px dashed green;
            }
            .bet-black {
              border: 10px dashed black;
            }
          }
        }
      }
    }

    .final-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 0 10px;
    margin: 10px 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    }
      .button-location {
      top: 90%;
      height: 10%;
      position: absolute;
    }
    .bottom-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding: 0 10px;
      margin: 10px 0;
      .bet-box {
        right: 22%;
        left: 10px;
        height: 35px;
        position: absolute;
        span {
          float: left;
          width: 20%;
          height: 100%;
        }
        .start-box {
          button {
            width: 100%;
            height: 100%;
          }
        }
        .cash-handling-box {
          button {
            width: 50%;
            height: 100%;
            float: left;
          }
        }
        .chips-box {
          button {
            width: 25%;
            float: left;
            height: 100%;
          }
        }
        .bet-display-box {
          background-color: #fff;
          text-align: center;
          border: 1px solid #000;
        }
        .bank-box {
          background-color: #fff;
          text-align: center;
          border: 1px solid #000;
        }
      }
      .play-box {
        right: 22%;
        left: 10px;
        height: 35px;
        top: 35px;
        position: absolute;
        button {
          width: 20%;
          float: left;
          height: 100%;
        }
      }
      .message-box {
        text-align: center;
        width: 20%;
        right: 10px;
        height: 70px;
        background-color: #fff;
        border: 1px solid #000;
        position: absolute;
        overflow-y: scroll; 
      }
      button[disabled=disabled], button:disabled {
        opacity:0.7;
      }
    }
    
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
