  <div>
    <center>
      <div>   
        <span class="well well-sm">Bank Balance</span><span class="well well-sm">{{bankBalance}}</span>
      </div>
      <br>
      <div>   
        <span class="well well-sm">Loan Balance</span>
        <span>
          <button type="button" ng-click="deductLoan()" class="btn btn-default glyphicon glyphicon-minus"></button>
          <span class="well well-sm">{{loanBalance}}</span>
          <button type="button" ng-click="addLoan()" class="btn btn-default glyphicon glyphicon-plus"></button>
        <span>
      </div>
      <br>
      <div>
        <span class="well well-sm">Interest Balance</span>
        <span>
          <button type="button" ng-click="deductInterest()" class="btn btn-default glyphicon glyphicon-minus"></button>
          <span class="well well-sm">{{interestBalance}}</span>
        <span>
      </div>
    </center>
  </div>
